.row .col-hidden {
  display: none;
}

.panel-heading {
  cursor: pointer; cursor: hand;
}

.panel-heading:hover {
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.btn-remove {
  top: 0px;
  line-height: inherit;
}

body {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

/*
Calendar view
*/
#t_calendar {
  table-layout: fixed;
}

.th_weekday, .th_weekend {
}

/* 
Event view 
*/
.event {
  text-align: left;
  margin: 4px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #888888;
}

.event > div {
  padding: 6px;
}

.event .title {
  font-size: 17px;
  font-weight: 700;
}

.event .location {
  color: rgb(102, 102, 102);
  font-size: 13px;
}

.event .time {
  float: right;
  color: white;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  line-height: 17px;
  letter-spacing: 0.5px;
}

.event .header {
  height: 45px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.event .join {
  padding-top: 0px;
  text-align: right;
}

.remove-sub {
  float:right;
}
.subcheck {
  padding-left:10px;
}

.scarlet {
  color:#FF2400;
}

.event .event-extras {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  display: none;
}

.event .count {
  line-height: 1.8;
  font-size: 13px;
}

.event:hover {
  box-shadow: 2px 2px 6px #888888;
}

.event:hover .event-extras {
  display: block;
}

/*
Drawer
*/
.app {
  /* fixes navbar auto expand */
  position: fixed;
  /* expand to include sidebar */
  left: -270px;
  right: -270px;
  /* full screen from children height */
  top: 51px;
  bottom: 0px;
  padding-top: 19px;
  overflow-y: scroll;
  -o-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  will-change: transform;
}
.app.showleft {
  -o-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  transform: translateX(270px);
}
.app.showright {
  -o-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
}

/*
Side bar
*/
.sidebar {
  position: absolute;
  width: 270px;
  background-color: #eee;
}
#d_right_sidebar {
  right: 0px;
}
#d_left_sidebar {
  padding-left: 15px;
}

#d_main_col {
  position: absolute;
  /* removes sidebar from width */
  left: 270px;
  right: 270px;
  padding-left: 15px;
  padding-right: 15px;
  /* center children */
  text-align: center;
  /* expand calendar to register reset event listener*/
  min-height: 100%;
}
#d_main_col > div {
  display: inline-block;
}

/*
Navbar
*/
/* #p_time, #b_refresh, #b_logout, #b_hide_left, #b_hide_right */
/*.navbar-brand, */
#navbar {
  display: none;
}

.navbar-toggle {
  display: block;
}

.toggle-left {
  float: left;
  margin-left: -16px;
  border-style: none;
}

.toggle-right {
  /*color: white;*/
  /*font-size: 10px;*/
  float: right;
  margin-right: -16px;
  border-style: none;
}

/*
My calendar
*/
#d_user_calendars > li.active > a {
  background-color: #eee;
  color: #337ab7;
  font-weight: 700;
}
.join-code {
  position: absolute;
  right: 10px;
  font-size: 96%;
  font-weight: 400;
  /*background-color: #999;*/
}
#pickStartDate {
  border: 0px;
  border-bottom: dotted 1px;
  width: 100px;
  background-color: #eee;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}

/*
Responsive layout for large screens
*/
@media (max-width: 479px) {
  .hidden-xxs {
    display: none !important;
  }
}

@media (min-width: 768px) {
  /* show more navbar items */
  .navbar-brand {
    display: block;
  }
  #p_time {
    margin-right: 40px;
  }
  #navbar {
    display: block;
  }
  .navbar-toggle {
    display: none;
  }
}

@media (min-width: 1370px) {
  /* switch to toggle right bar */
  .app {
    right: 0px;
  }
  .app.showleft {
    transform: translateX(0px);
  }
}

@media (min-width: 1640px) {
  /* switch to toggle left bar */
  .app {
    left: 0px;
  }
  .app.showright {
    transform: translateX(0px);
  }
}
